<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment_mapper">

<insert id="saveComment" parameterType="CommentDTO">
	INSERT INTO t_comment(post_num, user_num, comment_content) 
	VALUES(#{postNum},#{userNum},#{commentContent})
</insert>
	

</mapper>