<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="stock_mapper">

	<insert id="insertMinuteStockPrice" parameterType="java.util.List"> INSERT
		ALL <foreach collection="list" item="item"> INTO t_stock_price (
		stock_code, date_time, price_open, price_high, price_low, price_close,
		volume ) VALUES ( #{item.stockCode}, #{item.dateTime}, <!-- 💡 오라클 DATE
			또는 TIMESTAMP 컬럼과 자바 LocalDateTime 완벽 호환 -->
		#{item.priceOpen}, #{item.priceHigh}, #{item.priceLow},
		#{item.priceClose}, #{item.volume} ) </foreach> SELECT * FROM DUAL </insert>

</mapper>