<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cash_mapper">

	<select id="findUserCashByUserNum" parameterType="int" resultType="UserCashDTO">
		select * from t_cash
		where user_num = #{userNum}
	</select>

	<select id="findUserCashByUserNumForUpdate" parameterType="int" resultType="UserCashDTO">
		select * from t_cash
		where user_num = #{userNum}
		for update
	</select>
	
	<update id="updateUserCash" parameterType="map">
		update t_cash
		set cash = cash + #{add}
		where user_num = #{userNum}
	</update>

</mapper>